html {
    background-color: #e3f6f5;
}

.page-header {
    display: flex;
    justify-content: space-between;
    /* background-color: #2438d3; */
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    align-items: center;
    padding: 15px;
    border: #00bbf0 solid 12px;
}

.nav-bar {
    font-size: 32px;
}

.nav-element {
    color: #00bbf0;
}

.nav-element:hover {
    color: #005792;
}

.header-name {
    color: #ffffff;
}

.first-half-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px dotted;
    margin: 5px;
}

.second-half-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 40px;
    color: #272343;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.description {
    font-size: 20px;
    color: #272343;
}

.pic {
    width: 300px;
}

.quote {
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    color: #272343;
}