html {
    background-color: #e3f6f5;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80vw;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    align-items: center;
    padding: 15px;
    border: #00bbf0 solid 12px;
}

.nav-bar {
    font-size: 32px;
}

.nav-element {
    color: #00bbf0;
}

.nav-element:hover {
    color: #ddf0fc;
}

.header-name {
    color: #ffffff;
}

.first-half-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px dotted;
    margin: 5px;
}

@media screen and (max-width: 625px) {
    .first-half-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    };
        
    }

.title-and-description {
    margin: 15px;
}

.second-half-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}

.title {
    font-size: 40px;
    color: #272343;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.description {
    font-size: 20px;
    color: #272343;
}

.pic {
    width: 300px;
}

.quote {
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    color: #272343;
}

.about-page-header {
    color: #272343;
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 15px;
    margin-bottom: 5vh;
}

.first-about-header, .second-about-header, .third-about-header {
    color: #272343;
    margin-left: 4vw;
}

.first-about-section {
    color: #272343;
    display: flex;
    /* padding: 20px; */
    justify-content: space-between;
    margin: auto;
    align-items: flex-start;
    border-bottom: 2px solid;
    width: 90vw;
    /* border: 2px solid black; */
}

@media screen and (max-width: 625px) {
    .first-about-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    };
        
    }

.second-about-section {
    color: #272343;
    display: flex;
    /* padding: 20px; */
    justify-content: space-between;
    margin: auto;
    align-items: flex-start;
    border-bottom: 2px solid;
    width: 90vw;
    /* border: 2px solid black; */
}

@media screen and (max-width: 625px) {
    .second-about-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    };
        
    }

.third-about-section {
    color: #272343;
    display: flex;
    /* padding: 20px; */
    justify-content: space-between;
    margin: auto;
    align-items: flex-start;
    border-bottom: 2px solid;
    width: 90vw;
    /* border: 2px solid black; */
}

@media screen and (max-width: 625px) {
    .third-about-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    };
        
    }

.section-item {
    padding: 5px;
}

#form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 3vw;
    background-color: #00bbf0;
    border-radius: 25px;
    width: 50%;
    font-weight: bold;
}

.form-element {
    margin-left: 10px;
    margin-bottom: 5px;
}

#submit-button {
    width: 25%;
    margin: auto;
    margin-top: 20px;
    height: 30px;
}

#submit-button:hover {
    background-color: #00bbf0;
}

#name-box:hover {
    background-color: antiquewhite;
}

#email-box:hover {
    background-color: antiquewhite;
}

#textarea-label:hover {
    background-color: antiquewhite;
}

#textarea-label {
    resize: none;
}

.contact-header {
    text-align: center;
    color: #272343;
}

.portfolio-header {
    text-align: center;
    color: #272343;
    margin-bottom: 3vh;
    padding-bottom: 2vh;
    border-bottom: 2px solid #272343;
}

.first-project {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2vw;
    width: 65vw;
    margin: auto;
    margin-bottom: 30px;
}

.second-project {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2vw;
    width: 65vw;
    margin: auto;
    margin-bottom: 30px;
}

.third-project {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2vw;
    width: 65vw;
    margin: auto;
    margin-bottom: 30px;
}

.p-and-img-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    /* width: 95%; */
}

@media screen and (max-width: 625px) {
.p-and-img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
};
    
}

.second-p-and-img-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    /* width: 95%; */
}

@media screen and (max-width: 625px) {
.second-p-and-img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
};
    
}

.second-f-img {
    margin-right: 10px;
}

.second-f-paragraphs {
    margin-top: -3vh;
}

.f-p1 {
    margin: auto;
}
